<div class="div-formulario att">
    <form>
        <h2>Cadastro</h2>
        <div>
            <label>Nome:</label>
            <input [(ngModel)]="nome" name="nome" placeholder="nome..."/>
        </div>

        <div>
            <label>Idade:</label>
            <input [(ngModel)]="idade" name="idade" placeholder="idade..."/>
        </div>

        <div>
            <label>Cargo:</label>
            <input [(ngModel)]="cargo" name="cargo" placeholder="cargo..."/>
        </div>

        <div>
            <label>Sexo:</label>
            <input [(ngModel)]="sexo" name="sexo" placeholder="sexo..."/>
        </div>

        <div>
            <button (click)="cadastrar()">Enviar</button>
        </div>
    </form>
</div>
