<div class="div-tabela">
    <div class="painel-tabela">
        <h2>Usuários Cadastrados</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Cargo</th>
                    <th>Sexo</th>
                    <th colspan="2">Sexo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pessoa of pessoas">
                    <td>{{pessoa.nome}}</td>
                    <td style="text-align: center;">{{pessoa.idade}}</td>
                    <td>{{pessoa.cargo}}</td>
                    <td style="text-align: center;">{{pessoa.sexo}}</td>
                    <td><button>Att</button></td>
                    <td><button>Del</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>