.all{
    background-color: gray;

    display: flex;
    flex-direction: column;

    height: 100vh;

    // padding: 1rem;

    .teste1{
        // flex: 1;
        background-color: yellow;
    }
}

// @media (max-width: 300px){
//     .all{
//         height: 100vh;
//     }
// }